<ion-content>
  <div class="lobby-page where-to-eat">
    <app-back-button></app-back-button>
    <div class="logo">
      <img src="assets/images/logo.png" alt="La Fortuna" width="35%">
    </div>
    <h1 class="lobby-title">Where do you want to eat today?</h1>
    <div class="lobby-grid">
      <div *ngFor="let item of where" class="grid-item" (click)="setWhereToEat(item.id)">
        <div class="text-center">
          <img [src]="item.icon" [alt]="item.name" class="icon">
        </div>
        <ion-button color="secondary" class="link">
          <ion-label slot="start">{{ item.name }}</ion-label> 
          <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
    </div>
    <!--<ion-grid class="grid">
        <ion-row>
          <ion-col size="6" *ngFor="let item of where" class="grid-col">
            <div class="text-center">
              <img [src]="item.icon" [alt]="item.name" class="icon">
            </div>
            <button type="button" class="link" (click)="setWhereToEat(item.id)">
              {{ item.name }} <img src="assets/images/lobby/arrow.png" alt="Arrow" width="18px" class="rotate-180 invert">
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>-->
    <div class="languages">
      <ion-button color="light" *ngFor="let lang of languages" class="lobby-btn" (click)="setLanguage(lang)">
        <ion-label class="locale">{{ lang.locale }}</ion-label>
        <ion-label>{{ lang.name }}</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
