.where-to-eat {
  padding: 2rem 0;
  background-color: var(--ion-color-primary);
}

.where-to-eat .logo {
  margin-bottom: 2rem;
  text-align: center;
}

.where-to-eat .lobby-grid {
  max-width: 500px;
}

.where-to-eat .lobby-grid .grid-item .icon {
  height: 120px;
  padding: 1rem;
}

.where-to-eat .languages {
  display: flex;
  justify-content: center;
}

.where-to-eat .languages .lobby-btn {
  justify-content: center;
  font-weight: 400;
}

.where-to-eat .languages .lobby-btn:first-child {
  margin-right: 1rem;
}

.where-to-eat .languages .lobby-btn ion-label {
  color: #808080;
}

.where-to-eat .languages .lobby-btn .locale {
  text-transform: uppercase;
  margin-right: 0.75rem;
  font-weight: 700;
}

@media(min-width: 440px) {
  .where-to-eat {
    padding: 4rem 0;
  }
  .where-to-eat .lobby-grid .grid-item .icon {
    padding: 1.5rem;
    height: auto;
  }
}

@media(min-width: 768px) {
  .where-to-eat .languages .lobby-btn:first-child {
    margin-right: 2rem;
  }
}

