.drinks {
  padding-bottom: 4rem;
}

.drinks .head {
  position: relative;
  height: 160px;
  background-color: var(--ion-color-primary);
}


.drinks .head .logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 66px);
}

.drinks .drinks-list {
  width: auto;
  margin: 6rem auto 2rem auto;
  padding: 1rem;
}


.drinks .drinks-list .drink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  --padding-top: 1rem;
  --padding-end: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --inner-padding-top: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: 0;
  --background-activated: var(--ion-color-primary);
  --background-activated-opacity: 1;
  --background-focused: var(--ion-color-primary);
  --background-focused-opacity: 1;
  --background-hover: var(--ion-color-primary);
  --background-hover-opacity: 1;
  --color-activated: white;
  --color-focused: white;
  --color-hover: white;
}


.drinks .drinks-list .drink::part(native) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.drinks .drinks-list .drink.active {
  --background: var(--ion-color-primary);
}

.drinks .drinks-list .drink .name {
  margin-top: 1rem;
  text-align: center;
  font-size: var(--text-2xl);
  font-weight: 700;
}


@media(min-width: 768px) {

  .drinks .drinks-list {
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }


}