<ion-content>
  <div class="drinks lobby-page">
    <div class="head">
      <app-back-button></app-back-button>
      <div class="logo">
        <img src="assets/images/logo.png" alt="La Fortuna" width="200px">
      </div>
    </div>
    <div class="drinks-list lobby-grid">
      <ion-item button *ngFor="let drink of drinks; let i = index" (click)="null" class="drink grid-item">
        <img src="assets/images/lobby/drinks.png" alt="Drink" class="image" width="120px">
        <ion-label class="name">
          Bebidas
        </ion-label>
      </ion-item>
    </div>
    <div class="bottom">
      <div class="actions">
        <ion-button color="primary" class="lobby-btn" (click)="cancel()">
          <ion-label>Cancel</ion-label>
        </ion-button>
        <ion-button color="secondary-alt" class="lobby-btn" (click)="confirm()">
          <ion-label>Confirm</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

