<ion-content>
  <div class="lobby-page order-completed">
    <img src="assets/images/logo.png" alt="La Fortuna" width="50%">
    <h1 class="lobby-title">Enjoy your order, Bon appetit!</h1>
  </div>
</ion-content>