.order-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-primary);
}

.order-completed .lobby-title {
  margin-top: 2rem;
}