<ion-content>
  <div class="create-order lobby-page">
    <app-back-button></app-back-button>
    <img src="assets/images/lobby/pizza-banner.png" alt="Pizza" width="100%">
    <div class="wrapper">
      <div #glass class="glass">
        <p class="text">Let's go! select what you want to eat</p>
      </div>
      <div class="flex-container head">
        <div class="logo">
          <img src="assets/images/logo.png" alt="La Fortuna" width="200px">
        </div>
        <div class="food-types">
          <ion-slides [options]="
            {
              slidesPerView: 2, 
              spaceBetween: 16, 
              breakpoints: {
                '580': { slidesPerView: 2, spaceBetween: 32 },
                '768': { slidesPerView: 3, spaceBetween: 32 }
              }
            }
          ">
            <ion-slide *ngFor="let type of foodTypes" class="food-type">
              <ion-item button (click)="null">
                <img [src]="type.image" [alt]="type.name" width="120px" class="image">
                <ion-label class="name">
                  {{ type.name }}
                </ion-label>
              </ion-item>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
      <div class="flex-container main">
        <ng-container *ngIf="innerWidth < 768; else elseTemplate">
          <div class="toppings-container">
            <p class="extra">Drag on your pizza some extra</p>
            <ion-slides
              class="toppings" 
              [options]="{ slidesPerView: 2, spaceBetween: 32, breakpoints: { '768': { slidesPerView: 3, spaceBetween: 32 } }}
            ">
              <ion-slide *ngFor="let topping of toppings" class="topping text-center">
                <ion-item button draggable [dragData]="topping">
                  <img [src]="topping.image" [alt]="topping.name">
                </ion-item>
              </ion-slide>
            </ion-slides>
          </div>
          <div class="boxes-container">
            <ion-slides
              class="boxes" 
              [options]="{ slidesPerView: 2, spaceBetween: 32, breakpoints: { '768': { slidesPerView: 3, spaceBetween: 32 } }}
            ">
              <ion-slide *ngFor="let text of [0,1,2,3,4,5,6]" class="box text-center">
                <ion-item button>
                  <ion-label>Text {{text}}</ion-label>
                </ion-item>
              </ion-slide>
            </ion-slides>
          </div>
          <div class="foods">
            <ion-slides [options]="{ slidesPerView: 1, breakpoints: { '580': { slidesPerView: 2 }  }}" class="foods-slider">
              <ion-slide *ngFor="let item of foods; let i = index" class="food-slide">
                <div class="food grid-item" [ngClass]="{'open': item.isOpen}" #items>
                  <ion-item button (click)="open(item, i)" class="dropzones">
                      <div
                        class="dropzone left"
                        droppable
                        (onDragEnter)="onDragEnter($event, item, 'left')"
                        (onDragLeave)="onDragLeave($event, item, 'left')"
                        (onDrop)="onDrop($event, item, 'left')"
                      >
                      </div>
                      <div
                        class="dropzone center"
                        droppable
                        (onDragEnter)="onDragEnter($event, item, 'center')"
                        (onDragLeave)="onDragLeave($event, item, 'center')"
                        (onDrop)="onDrop($event, item, 'center')"
                      >
                      </div>
                      <div
                        class="dropzone right"
                        droppable
                        (onDragEnter)="onDragEnter($event, item, 'right')"
                        (onDragLeave)="onDragLeave($event, item, 'right')"
                        (onDrop)="onDrop($event, item, 'right')"
                      >
                      </div>
                  </ion-item>
                  <div class="main-content">
                      <span>Tap to order</span>
                      <img src="assets/images/lobby/pizza.png" alt="Food" class="image" width="140px">
                      <img src="assets/images/lobby/first-half.png" alt="Food" class="side first-half" width="130px">
                      <img src="assets/images/lobby/all.png" alt="Food" class="side all" width="130px">
                      <img src="assets/images/lobby/second-half.png" alt="Food" class="side second-half" width="130px">
                      <img 
                        *ngFor="let topping of item.toppings"
                        [src]="topping.image"
                        [alt]="topping.name"
                        [class]="'topping side ' + topping.side"
                      >
                      <div class="name">
                        <span>{{ item.name }}</span>
                        <span>{{ item.price }}</span>
                      </div>
                  </div>
                  <div class="selectors">
                    <div class="selector">
                      <p class="text">select size</p>
                      <div class="types">
                        <ion-slides [options]="{ slidesPerView: 3, spaceBetween: 64 }">
                          <ion-slide *ngFor="let s of sizes" class="type-wrapper">
                            <ion-button (click)="setSize(s)" [ngClass]="{'selected': s === size}" class="type">
                              <ion-label>{{ s }}</ion-label>
                            </ion-button>
                          </ion-slide>
                        </ion-slides>
                      </div>
                    </div>
                    <div class="selector">
                      <p class="text">select type of cuts</p>
                      <div class="types type-cuts">
                        <ion-slides [options]="{ slidesPerView: 3, spaceBetween: 64 }">
                          <ion-slide *ngFor="let cut of typeCuts" class="type-wrapper">
                            <ion-button (click)="setTypeCut(cut)" [ngClass]="{'selected': typeCut ? cut.id === typeCut.id : false}" class="type">
                              <img [src]="cut.icon" [alt]="cut.name">
                              <ion-label></ion-label>
                            </ion-button>
                          </ion-slide>
                        </ion-slides>
                      </div>
                    </div>
                    <ion-button class="confirm lobby-btn primary">
                      Confirm your order
                    </ion-button>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="toppings-container">
            <p class="extra">Drag on your pizza some extra</p>
            <div class="toppings">
              <div class="gradient top"></div>
              <div *ngFor="let topping of toppings" class="topping text-center">
                <ion-item button draggable [dragData]="topping">
                  <img [src]="topping.image" [alt]="topping.name" width="140px">
                </ion-item>
              </div>
              <div class="gradient bottom"></div>
            </div>
          </div>
          <div class="foods-scroll-wrapper">
            <div class="foods lobby-grid">
              <div *ngFor="let item of foods; let i = index" class="food grid-item" [ngClass]="{'open': item.isOpen}" #items>
                <ion-item button (click)="open(item, i)" class="dropzones">
                  <div
                    class="dropzone left"
                    droppable
                    (onDragEnter)="onDragEnter($event, item, 'left')"
                    (onDragLeave)="onDragLeave($event, item, 'left')"
                    (onDrop)="onDrop($event, item, 'left')"
                  >
                  </div>
                  <div
                    class="dropzone center"
                    droppable
                    (onDragEnter)="onDragEnter($event, item, 'center')"
                    (onDragLeave)="onDragLeave($event, item, 'center')"
                    (onDrop)="onDrop($event, item, 'center')"
                  >
                  </div>
                  <div
                    class="dropzone right"
                    droppable
                    (onDragEnter)="onDragEnter($event, item, 'right')"
                    (onDragLeave)="onDragLeave($event, item, 'right')"
                    (onDrop)="onDrop($event, item, 'right')"
                  >
                  </div>
                </ion-item>
                <div class="main-content">
                  <span>Tap to order</span>
                  <img src="assets/images/lobby/pizza.png" alt="Food" class="image" width="140px">
                  <img src="assets/images/lobby/first-half.png" alt="Food" class="side first-half" width="130px">
                  <img src="assets/images/lobby/all.png" alt="Food" class="side all" width="130px">
                  <img src="assets/images/lobby/second-half.png" alt="Food" class="side second-half" width="130px">
                  <img 
                    *ngFor="let topping of item.toppings"
                    [src]="topping.image"
                    [alt]="topping.name"
                    [class]="'topping side ' + topping.side"
                    width="80px"
                  >
                  <div class="name">
                    <span>{{ item.name }}</span>
                    <span>{{ item.price }}</span>
                  </div>
                </div>
                <div class="selectors">
                  <div class="selector">
                    <p class="text">select size</p>
                    <div class="types">
                      <ion-slides [options]="{ slidesPerView: 3, spaceBetween: 32 }">
                        <ion-slide *ngFor="let s of sizes" class="type-wrapper">
                          <ion-button (click)="setSize(s)" [ngClass]="{'selected': s === size}" class="type">
                            <ion-label>{{ s }}</ion-label>
                          </ion-button>
                        </ion-slide>
                      </ion-slides>
                    </div>
                  </div>
                  <div class="selector">
                    <p class="text">select type of cuts</p>
                    <div class="types type-cuts">
                      <ion-slides [options]="{ slidesPerView: 3, spaceBetween: 32 }">
                        <ion-slide *ngFor="let cut of typeCuts" class="type-wrapper">
                          <ion-button (click)="setTypeCut(cut)" [ngClass]="{'selected': typeCut ? cut.id === typeCut.id : false}" class="type">
                            <img [src]="cut.icon" [alt]="cut.name">
                            <ion-label></ion-label>
                          </ion-button>
                        </ion-slide>
                      </ion-slides>
                    </div>
                  </div>
                  <ion-button class="confirm lobby-btn primary">
                    Confirm your order
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="boxes-container">
        <ion-slides
          class="boxes" 
          [options]="{ slidesPerView: 2, spaceBetween: 32, breakpoints: { '768': { slidesPerView: 3, spaceBetween: 32 } }}
        ">
          <ion-slide *ngFor="let text of [0,1,2,3,4,5,6]" class="box text-center">
            <ion-item button>
              <ion-label>Text {{text}}</ion-label>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="bottom">
        <div class="resume">
          <div class="price">
            <span>My order - Eat in</span>
            <span>$200,00</span>
          </div>
          <div class="content">
            <div class="item">
              <p>1x</p>
              <p>Hawaiian /S/ Tp: Bbq, Pepperoni, Anchovies, Jalapeno, Marinara</p>
            </div>
            <div class="item">
              <p>3x</p>
              <p>Sodas: Coca Cola, Sring, 7up</p>
            </div>
          </div>
        </div>
        <div class="actions">
          <ion-button color="primary" class="lobby-btn" (click)="cancelOrder()">
            <ion-label>Confirm order</ion-label>
          </ion-button>
          <ion-button color="secondary" class="lobby-btn" (click)="confirmOrder()">
            <ion-label>Confirm order</ion-label>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>