.create-order .wrapper {
  position: relative;
  padding: 1rem 1rem 16rem 1rem;
  overflow: hidden;
}

.glass {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: 4px;
}

.glass .text {
  padding: 0 2rem;
  text-align: center;
  color: var(--ion-color-primary);
  font-size: var(--text-4xl);
  font-weight: 600;
  opacity: 1;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

/*.flex-container {
  display: flex;
  align-items: center;
}

.flex-container > div:first-child {
  flex: 1 0 20%;
  max-width: 20%;
}

.flex-container > div:last-child {
  flex: 1 0 80%;
  max-width: 80%;
}*/

.create-order .head .logo {
  margin-bottom: 2rem;
  text-align: center;
}

.create-order .head .food-types ion-slides {
  overflow: visible;
}

.create-order .head .food-types .food-type {
  position: relative;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.create-order .head .food-types .food-type ion-item {
  width: 100%;
  height: 100%;
  --padding-top: 0.5rem;
  --padding-end: 0.5rem;
  --padding-bottom: 0.5rem;
  --padding-start: 0.5rem;
  --inner-padding-top: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: 0;
  --border-radius: 1rem;
  --border-width: 0;
  --inner-border-width: 0;
  --detail-icon-font-size: 0px;
}

.create-order .head .food-types .food-type ion-item::part(native) {
  display: flex;
  flex-direction: column;
}

.create-order .head .food-types .food-type .image {
  width: 140px;
}

.create-order .head .food-types .food-type .name {
  margin-top: 1rem;
  color: black;
  font-size: var(--text-2xl);
  font-weight: 700;
}

.create-order .main {
  align-items: flex-start;
}

.create-order .main .toppings-container {
  position: relative;
  margin-top: 2rem;
}

.create-order .main .toppings-container .extra {
  position: relative;
  z-index: 9;
  max-width: 220px;
  margin: 0 auto 1rem auto;
  text-align: center;
  color: black;
  font-size: var(--text-25xl);
  font-weight: 700;
}

.create-order .main .toppings-container .gradient {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100px;
}

.create-order .main .toppings-container .gradient.top {
  top: 70px;
  background-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.8) 50%, transparent)
}

.create-order .main .toppings-container .gradient.bottom {
  bottom: 0;
  background-image: linear-gradient(to top, white 0%, rgba(255,255,255, 0.8) 50%, transparent)
}

.create-order .main .toppings .topping ion-item,
.create-order .boxes .box ion-item {
  width: max-content;
  margin: 0 auto;
  --padding-top: 1rem;
  --padding-end: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --border-radius: 1rem;
  --inner-padding-top: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: 0;
  --border-width: 0;
  --inner-border-width: 0;
  --detail-icon-opacity: 0;
  --detail-icon-font-size: 0px;
  --background: transparent;
}

.create-order .main .toppings .topping img {
  width: 140px;
  margin: 0 auto;
}

.create-order .foods {
  width: auto;
  grid-template-columns: 1fr;
}

.create-order .foods .foods-slider .food-slide {
  padding: 1rem;
}

.create-order .foods .food {
  position: relative;
  margin-top: auto;
  padding: 0;
  max-width: 320px;
  overflow: hidden;
}

.create-order .foods .food .dropzones {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 250px;
  --min-height: 250px;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --inner-padding-top: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: 0;
  --border-radius: 1rem;
  --border: 0;
  --inner-border-width:	0;
  --background: transparent;
  --detail-icon-font-size: 0px;
}

.create-order .foods .food .dropzones::part(native),
.create-order .foods .food .dropzones .dropzone {
  height: 100%;
}

.create-order .foods .food .dropzones .dropzone {
  flex: 1;
}

.create-order .foods .food .main-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-xl);
  width: 100%;
}

.create-order .foods .food .image {
  width: 140px;
  margin: 1rem 0;
}

.create-order .foods .food .side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  display: none;
}

.create-order .foods .food.left .side.first-half {
  display: block;
}

.create-order .foods .food.center .side.all {
  display: block;
}

.create-order .foods .food.right .side.second-half {
  display: block;
}

.create-order .foods .food .side.topping {
  display: block;
  width: 80px;
}

.create-order .foods .food .side.left {
  transform: translate(-120%, -50%);
}

.create-order .foods .food .side.right {
  transform: translate(20%, -50%);
}

.create-order .foods .food .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  font-size: var(--text-2xl);
  font-weight: 700;
}


.create-order .foods .food .confirm {
  justify-content: center;
  width: 100%;
  --border-radius: 0;
  --padding-top: 1rem;
  --padding-bottom: 1.05rem;
  font-size: var(--text-2xl);
}


.create-order .foods .food .selectors {
  width: 100%;
  height: 0;
  /*max-height: 0;
  transition: all .2s ease-out;*/
}

.create-order .foods .food.open .selectors {
  /*max-height: 192px;*/
}

.create-order .foods .food .selector {
  width: 100%;
  height: 60px;
  margin: 0.5rem 0;
}

.create-order .foods .food .selector .text {
  margin-top: 0;
  margin-bottom: 0.25rem;
  text-align: center;
  color: black;
  font-size: var(--text-xl);
}

.create-order .foods .food .selector .types ion-slides {
  padding: 0 1rem;
}


.create-order .foods .food .selector .types .type-wrapper {
  text-align: center;
}

.create-order .foods .food .selector .types.type-cuts .type {
  --padding-top: 0rem;
  --padding-end: 0rem;
  --padding-bottom: 0rem;
  --padding-start: 0rem;
}

.create-order .foods .food .selector .types .type {
  width: 30px;
  height: 30px;
  --padding-top: 0.5rem;
  --padding-end: 0.5rem;
  --padding-bottom: 0.5rem;
  --padding-start: 0.5rem;
  --border-radius: 50%;
  line-height: 30px;
  --background: var(--ion-color-primary);
  font-size: 14px;
  outline: none;
  --border-width: 0;
  --background-hover: var(--ion-color-secondary);
  --background-activated: var(--ion-color-secondary);
  --background-focused: var(--ion-color-secondary);
}

.create-order .foods .food .selector .types .type.selected::part(native) {
  background: var(--ion-color-secondary);
}

.create-order .foods .food .selector .types .type::part(native) {
  width: 30px;
  height: 30px;
}

.create-order .bottom .resume .content {
  padding: 1rem;
  background-color: white;
}

.create-order .bottom .resume .content .item {
  display: flex;
  max-width: 340px;
}

.create-order .bottom .resume .content .item:not(:last-child) {
  margin-bottom: 1rem;
}

.create-order .bottom .resume .content .item p:first-child {
  margin-right: 0.5rem;
}

.create-order .bottom .resume .content p {
  line-height: 1;
  margin: 0;
  color: black;
  font-size: var(--text-25xl);
  font-weight: 700;
}

.create-order .bottom .resume .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: var(--ion-color-primary);
  color: white;
  font-size: var(--text-25xl);
  font-weight: 700;
}

@media(min-width: 440px) {
  .create-order .foods {
    grid-template-columns: 1fr 1fr;
  }
  .create-order .foods .food .dropzones {
    height: 250px;
    --min-height: 250px;
  }
}

@media(min-width: 580px) {
  .create-order .head .food-types {
    padding: 0 1rem;
  }
}

@media(min-width: 768px) {
  .create-order .wrapper {
    padding: 2rem 0 20rem 0;
  }

  .create-order .head .food-types {
    padding: 0;
  }

  .flex-container.head {
    padding: 0 2rem;
  }

  .flex-container.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem 0;
    padding: 0 1rem;
  }

  .foods-scroll-wrapper {
    height: 844px;
    overflow: scroll;
  }

  .create-order .foods {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .create-order .main .toppings-container {
    position: relative;
    margin-top: 0;
  }

  .create-order .main .toppings {
    height: 740px;
    padding: 3rem 0;
    overflow-y: scroll;
  }

  .create-order .bottom .resume .price {
    padding: 0.75rem 2rem;
  }

  .create-order .bottom .resume .content {
    padding: 1rem 2rem;
  }
}