<ion-content>
  <div class="lobby-page payment-type">
    <app-back-button></app-back-button>
    <div class="logo">
      <img src="assets/images/logo.png" alt="La Fortuna" width="30%">
    </div>
    <h1 class="lobby-title">Please, select payment type</h1>
    <div class="lobby-grid">
      <div class="grid-item" (click)="setPaymentType('PAY_HERE')">
        <div class="types">
          <div class="tdc">
            <ion-button class="lobby-btn icon-btn">
              <img src="assets/images/lobby/visa.png" alt="Visa">
            </ion-button>
            <ion-button class="lobby-btn icon-btn">
              <img src="assets/images/lobby/mastercard.png" alt="Master Card">
            </ion-button>
            <ion-button class="lobby-btn icon-btn">
              <img src="assets/images/lobby/discover.png" alt="Discover">
            </ion-button>
            <ion-button class="lobby-btn icon-btn">
              <img src="assets/images/lobby/american-express.png" alt="American Express">
            </ion-button>
            <ion-button class="lobby-btn icon-btn">
              <img src="assets/images/lobby/debit.png" alt="Debit">
            </ion-button>
          </div>
        </div>
        <ion-button color="secondary" class="link" (click)="setPaymentType('PAY_HERE')">
          <ion-label>Pay here</ion-label>
          <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
      <div class="grid-item" (click)="setPaymentType('AT_COUNTER')">
        <div class="types">
          <div class="type">
            <span>Cash</span>
            <img src="assets/images/lobby/cash.png" alt="Cash">
          </div>
          <div class="type">
            <span>Coupon</span>
            <img src="assets/images/lobby/coupon.png" alt="Coupon">
          </div>
          <div class="type">
            <span>Card</span>
            <img src="assets/images/lobby/card.png" alt="Card">
          </div>
        </div>
        <ion-button color="secondary" class="link" (click)="setPaymentType('AT_COUNTER')">
          <ion-label>At counter</ion-label>
          <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="bottom">
      <div class="actions">
        <ion-button color="primary" class="lobby-btn" (click)="cancel()">
          <ion-label>Cancel order</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
