.payment-type {
  padding: 2rem 0;
  background-color: var(--ion-color-secondary-alt);
}

.payment-type .logo {
  margin-bottom: 2rem;
  text-align: center;
}

.payment-type .types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
}

.payment-type .types .type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-sm);
  font-weight: 700;
  color: #000;
}

.payment-type .types .type:not(:last-child) {
  margin-bottom: 0.75rem;
}

.payment-type .types .type img {
  width: 36px;
}

.payment-type .types .tdc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  width: 100%;
}

.payment-type .types .tdc .lobby-btn img {
  width: 100%;
}

.payment-type .bottom .lobby-btn {
  margin-right: 0;
}

@media(min-width: 440px) {
  .payment-type .types .type {
    font-size: var(--text-2xl);
  }
}

@media(min-width: 580px) {
  .payment-type .types .type {
    font-size: var(--text-25xl);
  }
  
  .payment-type .types .type img {
    width: 60px;
  }
}

@media(min-width: 768px) {
  .payment-type {
    padding: 4rem 0;
  }

  .payment-type .logo {
    margin-bottom: 4rem;
  }

  .payment-type .types {
    padding: 1.25rem 0.75rem;
    border-radius: 0.75rem;
  }

  .payment-type .types .tdc {
    gap: 0.5rem;
  }

  .payment-type .types .type {
    font-size: var(--text-3xl);
  }

  .payment-type .types .type:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  
}