<ion-content>
  <div class="lobby-page order-review">
    <div class="logo">
      <img src="assets/images/logo.png" alt="La Fortuna">
    </div>
    <h1 class="lobby-title">
      Review my eat in order, categories shown
      do not reflect any customizations
    </h1>
    <div class="wrapper">
      <div class="order">
        <div class="head">
          Order #{{ order.id }}
        </div>
        <div class="foods">
          <div *ngFor="let food of order.foods">
            <div class="food">
              <span class="strong-text">{{ food.quantity }}x {{ food.name }} /{{ food.size }}/</span>
              <div class="quantity-selector">
                <ion-button class="lobby-btn transparent subtract">
                  <ion-label>-</ion-label>
                </ion-button>
                <span class="quantity">{{ food.quantity }}</span>
                <ion-button class="lobby-btn transparent sum">
                  <ion-label>+</ion-label>
                </ion-button>
              </div>
              <ion-button class="lobby-btn transparent edit">Edit</ion-button>
              <span class="light-text">$19.99</span>
            </div>
            <div class="toppings">
              <p class="strong-text">Topping:</p>
              <ion-list class="toppings-list">
                <ion-item *ngFor="let topping of food.toppings" class="topping">
                  <ion-button class="lobby-btn icon-btn">
                    <img src="assets/images/lobby/close.png" alt="Close" width="55px">
                  </ion-button>
                  <img [src]="getPart(topping.part)" alt="Cut" width="25px" class="part-icon">
                  <span class="name">{{ topping.name }}</span>
                </ion-item>
              </ion-list>
            </div>
          </div>
          <div class="sodas">
            <p class="strong-text">3x Sodas:</p>
            <div *ngFor="let item of [0, 1, 2]" class="food">
              <div class="first">
                <ion-button class="lobby-btn icon-btn">
                  <img src="assets/images/lobby/close.png" alt="Close" width="55px">
                </ion-button>
                <span class="name">Coca Cola</span>
              </div>
              <div class="quantity-selector">
                <ion-button class="lobby-btn transparent subtract">
                  <ion-label>-</ion-label>
                </ion-button>
                <span class="quantity">1</span>
                <ion-button class="lobby-btn transparent sum">
                  <ion-label>+</ion-label>
                </ion-button>
              </div>
              <ion-button class="lobby-btn transparent edit">Edit</ion-button>
              <span class="light-text">$19.99</span>
            </div>
          </div>
        </div>
        <div class="totals">
          <img src="assets/images/lobby/dashed.png" alt="Dashed" class="dashed">
          <div class="tax">
            <p class="light-text">
              <span>Taxes:</span><span>{{ order.taxes }}</span>
            </p>
            <p class="light-text">
              <span>% Discount:</span><span>{{ order.discount }}</span>
            </p>
          </div>
          <div class="total">
            <p class="light-text uppercase">TOTAL</p>
            <p class="strong-text">{{ order.total }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="actions">
        <ion-button color="primary" class="lobby-btn" (click)="cancel()">
          <ion-label>Cancel order</ion-label>
        </ion-button>
        <ion-button color="secondary" class="lobby-btn" (click)="confirm()">
          <ion-label>Confirm order</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
