.order-review {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: var(--ion-color-primary);
}

.order-review .logo {
  margin-bottom: 2rem;
  text-align: center;
}

.order-review .logo img {
  width: 200px;
}

.order-review .lobby-title {
  font-size: var(--text-2xl);
}

.order-review .order {
  margin: 2rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
}

.order-review .wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.order-review .order .head {
  padding: 1.5rem 1rem;
  text-align: right;
  background-color: var(--grey);
  color: var(--ion-color-primary);
  font-size: var(--text-3xl);
  font-weight: 700;
}

.order-review .order .foods {
  padding: 1rem;
}

.order-review .order .foods .food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.order-review .order .foods .food > *:first-child {
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
}

.order-review .order .strong-text,
.order-review .order .medium-text,
.order-review .order .name {
  color: black;
  font-size: var(--text-3xl);
  font-weight: 700;
}

.order-review .order .medium-text {
  font-size: var(--text-25xl);
}

.order-review .order .name {
  font-size: var(--text-2xl);
  text-transform: uppercase;
}

.order-review .order .light-text {
  color: black;
  font-size: var(--text-25xl);
}

.order-review .order .icon-btn {
  margin-right: 1rem;
}

.quantity-selector {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.quantity-selector .lobby-btn {
  line-height: 60px;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  font-size: var(--text-35xl);
}

.quantity-selector .lobby-btn ion-label {
  color: var(--ion-color-primary);
}


.quantity-selector .lobby-btn.subtract ion-label {
  font-size: 38px;
  line-height: 10px;
}

.quantity-selector .quantity {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: var(--ion-color-primary);
  font-size: var(--text-25xl);
}

.order-review .order .foods .food .lobby-btn.edit {
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  color: var(--ion-color-primary);
  font-size: var(--text-25xl);
}

.order-review .order .toppings .strong-text {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.order-review .order .toppings .toppings-list {
  margin-top: 0.5rem;
}

.order-review .order .toppings .topping {
  display: flex;
  align-items: center;
  --border-width: 0;
  --inner-border-width: 0;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
}

.order-review .order .toppings .topping .lobby-btn,
.order-review .order .sodas .food .first .lobby-btn {
  width: 32px;
}

.order-review .order .toppings .topping .part-icon {
  margin-right: 0.5rem;
}

.order-review .order .sodas .strong-text {
  line-height: 1;
  margin: 1.5rem 0;
}

.order-review .order .sodas .food {
  margin-bottom: 0.75rem;
}

.order-review .order .sodas .food .first {
  display: flex;
  align-items: center;
}

.order-review .order .totals {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.order-review .order .totals .dashed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: auto;
}

.order-review .order .totals p {
  line-height: 1.5;
  margin: 0;
}

.order-review .order .totals p span:first-child {
  margin-right: 1rem;
}

.order-review .order .totals .tax p {
  display: flex;
  align-items: center;
}

.order-review .order .totals .tax p span:first-child  {
  display: block;
  width: 104px;
  text-align: end;
}

.order-review .order .totals .total .strong-text {
  font-size: var(--text-3xl);
}

@media(min-width: 440px) {
  .order-review {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  
  .order-review .logo {
    margin-bottom: 4rem;
  }
  
  /*.order-review .order {
    max-width: 85vw;
    margin: 2rem auto;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
  }*/
}

@media(min-width: 580px) {

  .order-review .lobby-title {
    font-size: var(--text-3xl);
  }

  .order-review .order {
    margin: 2rem;
  }
  
  .order-review .order .head {
    padding: 2rem;
  }
  
  .order-review .order .foods {
    padding: 2rem;
  }

  .order-review .order .foods .food > *:first-child {
    flex: 1;
    max-width: 40%;
  }

  .order-review .order .totals {
    padding: 2rem;
  }
}