.lobby-home {
  width: 100%;
  background-image:
    linear-gradient(to bottom, white 0%, transparent 40%),
    url('src/assets/images/lobby/home-background.png');
}

.lobby-home .link {
  width: 100%;
  height: 100vh;
  display: block;
}

.lobby-home .title-img {
  padding-top: 2rem;
}

.lobby-home .title-img img {
  display: block;
  margin: 0 auto;
}

.lobby-home .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--ion-color-primary);
}

.lobby-home .footer .footer-logo {
  width: 110px;
}

.lobby-home .footer p {
  margin: 0;
  line-height: 1.5;
  text-align: right;
  color: white;
  font-size: var(--text-xl);
  font-weight: 100;
}

@media(min-width: 440px) {
  .lobby-home .footer p {
    font-size: var(--text-25xl);
  }
}

@media(min-width: 768px) {
  .lobby-home .title-img {
    padding-top: 4rem;
  }
  .lobby-home .footer {
    padding: 2rem 4rem;
  }
  .lobby-home .footer .footer-logo {
    width: 200px;
  }
  .lobby-home .footer p {
    font-size: var(--text-35xl);
  }
}