<ion-content>
  <div class="lobby-page lobby-home background">
    <a routerLink="where-to-eat" class="link">
      <div class="title-img">
        <img src="assets/images/lobby/title-1.png" alt="Pizza La Fortuna" width="50%">
        <img src="assets/images/lobby/title-2.png" alt="Pídela Aquí" width="75%">
      </div>
      <div class="footer">
        <div class="footer-logo">
          <img src="assets/images/logo.png" alt="La Fortuna">
        </div>
        <div>
          <p>Toca la pantalla para ordenar</p>
          <p>Touch the screen to order</p>
        </div>
      </div>
    </a>
  </div>
</ion-content>