<ion-app>
  <ion-content>
    <ion-refresher slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
