router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.lobby-page {
  position: relative;
  min-height: 100vh;
}

.lobby-title {
  padding: 0 2rem;
  margin: 0 auto;
  line-height: 1.25;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: var(--text-2xl);
}

ion-button, ion-button::part(native) {
  height: auto;
  margin: 0;
  letter-spacing: normal;
  text-transform: none;
  --box-shadow: none;
}

ion-button ion-label,
ion-button ion-icon {
  color: white;
}
ion-button ion-label {
  text-transform: none;
  letter-spacing: normal;
}

.lobby-btn {
  --padding-top: 0.6rem;
  --padding-end: 1rem;
  --padding-bottom: 0.6rem;
  --padding-start: 1rem;
  --border-radius: 0.75rem;
  font-size: var(--text-25xl);
}

.lobby-btn.transparent {
  --background: transparent;
}

.lobby-btn.icon-btn {
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --background: transparent;
  --box-shadow: none;
  --border-radius: 0.25rem;
}


.link {
  margin: 0 0.25rem;
  --padding-top: 0.6rem;
  --padding-bottom: 0.6rem;
  --border-radius: 0.75rem;
  --border-width: 0;
  --color: white;
  --box-shadow: none;
  font-size: var(--text-2xl);
}

.link::part(native) {
  letter-spacing: normal;
}

.link ion-icon {
  font-size: 0.75rem;
}


.lobby-grid {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 80vw;
  margin: 2rem auto;
}

.grid-item {
  /*flex: 1 0 50%;
  max-width: calc(50% - 0.5rem);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  --border-radius: 1rem;
  --border: 0;
  --inner-border-width:	0;
  --detail-icon-font-size: 0px;
  --background: white;
  cursor: pointer;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.actions {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--grey);
}

.bottom .actions .lobby-btn {
  width: 100%;
}

.bottom .actions .lobby-btn:first-child {
  margin-right: 1rem;
}

.rotate-180 {
  transform: rotate(-180deg);
}

.invert {
  filter: brightness(0) invert(1);
}

.drag-border, .drag-hint-border, .drag-transit {
  border: none !important;
}

.s-wrapper.swiper.swiper-container {
  padding: 2rem;
}

.spacing-0 .s-wrapper.swiper.swiper-container {
  padding: 0;
}

.disableSelect {     
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

@media(min-width: 440px) {
  .lobby-title {
    font-size: var(--text-3xl);
  }

  .grid-item {
    padding: 0.75rem;
  }

  .link::part(native) {
    font-size: var(--text-2xl);
  }
}

@media(min-width: 768px) {
  .lobby-title {
    font-size: var(--text-4xl);
  }

  .lobby-grid {
    gap: 2rem;
  }

  .lobby-btn {
    --padding-top: 0.75rem;
    --padding-end: 2rem;
    --padding-bottom: 0.75rem;
    --padding-start: 2rem;
    --border-radius: 1rem;
    font-size: var(--text-35xl);
  }

  .link::part(native) {
    padding: 1rem 0;
    border-radius: 1.25rem;
    font-size: var(--text-3xl);
  }

  .link ion-icon {
    font-size: 1.25rem;
  }

  .actions {
    padding: 1rem;
  }
  
  .actions .lobby-btn {
    width: 100%;
    font-size: var(--text-25xl);
  }

}