:root {
  --ion-color-primary: #ba222e;
  --ion-color-primary-rgb: 186,34,46;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a41e28;
  --ion-color-primary-tint: #c13843;
  --ion-color-secondary: #e7a92c;
  --ion-color-secondary-rgb: 231,169,44;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cb9527;
  --ion-color-secondary-tint: #e9b241;
  --ion-color-secondary-alt: #166a38;
  --ion-color-secondary-alt-rgb: 22,106,56;
  --ion-color-secondary-alt-contrast: #ffffff;
  --ion-color-secondary-alt-contrast-rgb: 255,255,255;
  --ion-color-secondary-alt-shade: #135d31;
  --ion-color-secondary-alt-tint: #2d794c;
  --ion-font-family: Roboto, 'Helvetica Neue', sans-serif;
  --grey: #e5e5e5;
  --text-sm: 12px;
  --text-xl: 14px;
  --text-2xl: 16px;
  --text-25xl: 20px;
  --text-3xl: 24px;
  --text-35xl: 28px;
  --text-4xl: 32px;
  --text-45xl: 36px;
  --text-5xl: 40px;
  --text-55xl: 44px;
  --text-6xl: 48px;
  --text-65xl: 52px;
  --text-7xl: 56px;
  --text-8xl: 64px;
  --text-9xl: 72px;
  --text-10xl: 80px;
  --radius-1xl: 2rem;
  --radius-2xl: 2.25rem;
  --padding-xl: 1.25rem;
  --padding-2xl: 2rem; 
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-secondary-alt {
  --ion-color-base: var(--ion-color-secondary-alt);
  --ion-color-base-rgb: var(--ion-color-secondary-alt-rgb);
  --ion-color-contrast: var(--ion-color-secondary-alt-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-alt-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-alt-shade);
  --ion-color-tint: var(--ion-color-secondary-alt-tint);
}