.lobby-btn.back {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  --padding-top: 0.5rem;
  --padding-end: 0.75rem;
  --padding-bottom: 0.5rem;
  --padding-start: 0.75rem;
  --border-radius: 0.75rem;
  font-size: var(--text-xl);
}

.lobby-btn.back ion-label,
.lobby-btn.back ion-icon {
  color: #969696;
}

.lobby-btn.back ion-icon {
  font-size: var(--text-xl);
}

@media (min-width: 440px) {
  .lobby-btn.back {
    --padding-top: 0.5rem;
    --padding-end: 1rem;
    --padding-bottom: 0.5rem;
    --padding-start: 1rem;
    --border-radius: 0.75rem;
    font-size: var(--text-25xl);
  }

  .lobby-btn.back ion-icon {
    font-size: var(--text-2xl);
  }
  
}